/*GENERAL CSS*/

body {
    background-color: #eae9e4;
    width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*HEADER FILE CSS*/

.menu_principal {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.menu_principal div h1 {
    float: left;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 45px;
}

.menu_principal nav {
    float: right;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 300px;
}

.menu_principal nav ul {
    list-style: none;
    color: white;
}

.menu_principal nav ul li {
    display: inline-block;
}

.menu_principal nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 25px;
    color: #20af94;
}

.title {
    color: #20af94;
}

.style_point {
    color: #d90619;
}

/*INDEX PAGE*/

.contenu_principal {
    background-color: #243057;
}

.titre_about_div {
    text-align: center;
}

.titre_about {
    background-color: #20af94;
    font-size: 50px;
    color: #eae9e4;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.texte_about {
    font-size: 25px;
    color:#eae9e4;
    margin-left: 25px;
}

.texte_about p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.presentation {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

.texte_presentation {
    margin-left: 50px;
}

.titre_perso {
    background-color: #20af94;
    font-size: 50px;
    color: #eae9e4;
    width: 550px;
}

.titre_perso p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.texte_perso {
    font-size: 25px;
    color:#eae9e4;
}

.texte_perso p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.titre_fav {
    background-color: #20af94;
    font-size: 50px;
    color: #eae9e4;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.titre_fav_all {
    text-align: center;
}

.favorite_all {
    display: flex;
    text-align: center
}

.favorite_1 {
    width: 500px;
}

.favorite_1 img{
    border: 1px solid #eae9e4; 
    border-radius: 15px;
    padding: 5px; 
}

.favorite_2 {
    width: 500px;
}

.favorite_2 img{
    border: 1px solid #eae9e4; 
    border-radius: 15px;
    padding: 5px; 
}

.description_fav {
    font-size: 25px;
    color: #eae9e4;
}

/*ALL INGRDIENTS PAGE*/

.titre_ingredient_div {
    text-align: center;
}

.titre_ingredient {
    background-color: #20af94;
    font-size: 50px;
    color: #eae9e4;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.categories_ingredient {
    display: flex;
    margin: 0 auto;
    color: #20af94;
    list-style: none;
    justify-content: center;
    padding-left: 0px;
}

.categories_ingredient li {
    background-color: #eae9e4;
    color: #20af94;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;

    border: 1px solid #20af94; 
    border-radius: 5px;
}

.categories_ingredient li a {
    color: #20af94;
}

.ingredient_all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    text-align: center;
}

.ingredient_affichage {
    width: 300px;
}

.ingredient_affichage a {

}

.ingredient_affichage a img{
    background-color: #eae9e4;
    border: 5px solid #20af94;
    border-radius: 15px;
    padding: 5px;
}

.name_ingredient {
    font-size: 25px;
    color: #eae9e4;
}

/*ALL RECIPES PAGE*/

/*ONE INGRDIENT PAGE*/

/*ONE RECIPE PAGE*/

.grande_div {
    display: flex;
}

.info_img img {
    background-color: #eae9e4;
    border: 5px solid #20af94;
    border-radius: 15px;
    padding: 5px;
}



/*FOOTER FILE CSS*/
.social_links {
    display: flex;
    justify-content: center;
    color: #20af94;
    font-size: 25px;
}

